@import "variables";
//------Click the link and it will move smoothly--------
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.7;
  width: auto;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }
  
  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
  }
  
  @media (min-width: 360px) {
    /* connect to main.ts */
    #app {
      //padding: 0.5 1rem;
      background-color: #FFF3DC;
      text-align: center;
    }
  }