:root {
    --nav-padding-top: 2vh;
    --border-bottom: 1px dashed black;
    --margin-left: 25%;
  }
  
  //----------COLOR-------------------------------
  $hover-pink: rgba(237, 8, 126, 0.618);
  $darkpink: rgb(133, 5, 69);
  $beige: rgb(223, 216, 205);
  $gray: rgba(165, 169, 170, 0.378);