:root {
    --nav-padding-top: 2vh;
    --border-bottom: 1px dashed black;
    --margin-left: 25%;
    --color-border: lightgrey ;
  }
  
  //----------COLOR-------------------------------
  $main-pink: #DF0588;
  $sub-pink: rgb(240, 119, 139);
  $third-pink: #fadce7;
  $main-blue: blue;
  $main-beige:  rgba(208, 195, 195, 0.624);
  $text-grey: rgb(72, 68, 68);

  //この下はポートフォリオのもの
  $hover-pink: rgba(237, 8, 126, 0.618);
  $darkpink: rgb(133, 5, 69);
  $beige: rgb(223, 216, 205);
  $grey: rgba(165, 169, 170, 0.378);

  //Font
  $main-font: 'Moon Dance', cursive, 'Aref Ruqaa Ink', serif;
  $sub-font: 'Aref Ruqaa Ink', serif;