/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(297, 67%, 80%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    background-color: orange;
  } */

  /* main.tsへと繋がっている */
  /* #app {
    padding: 0 2rem;
    background-color: #FFF3DC;
    text-align: center;
  }
} */
